body {
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.menu {
    /* Positioning */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    /* Visual style */
    background-color: #FEFEFE;
    padding: 2rem;
    border: gray 1px;
    border-radius: 3px;
}

.menu h1 {
    padding-right: 5rem;
    margin-top: 0;
}

form input {
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 2px;
}

form button {
    border: 1px solid black;
    border-radius: 2px;
}